.GetStartedNow{
    min-height: 350px;
    background-image: url('../assets/LetusFind.webp');
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    align-items: center;
    overflow: hidden;
}

.findrightcourse{
    width: 40%;
    margin-left: 20px;
    min-width: 350px;
    color: white;
}
.getstartednow{
    width: 40%;
    min-width: 350px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}
.getstartednowbtn{
    width: 230px;
    height: 60px;
    background-color: white;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 5px;
    color: var(--theam-color);
    font-weight: bold;
    margin: 0px 20px;
    transition: 0.2s;
}
.getstartednowbtn:hover{
    cursor: pointer;
    transform: scale(1.03);
}
.phone p{
    color: white;
    margin: 30px;
    font-size: 16px;
}

@media screen and (max-width: 750px){
    .findrightcourse{
        text-align: center;
    }
}